.Center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/** {
  border: 1px white solid;
}*/

.centerText {
  font-family: "Adieu-Regular";
  font-size: 17vh;
  line-height: 0.8;
  text-align: center;
  /* border: 1px solid; */
}

.centerText a {
  text-decoration: none;
  color: #fff;
  cursor:  url('../assets/cursor-click.png'), auto;

}

.centerText:hover {
  -webkit-filter: blur(4px) grayscale(5%);
          filter: blur(4px) grayscale(5%);
  cursor:  url('../assets/cursor-click.png'), auto;

}

.Blurb {
   -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
  font-size: 2.5vh;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-grow: 2;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: left;
  /* border: 1px solid; */
}


.Top, .Right, .Left, .Bottom {

  visibility: visible;
  font-size: 2.5vh;
  line-height: 1;
  margin: 2vh;
  flex: 1 100%;
  text-align: center;

  /*border: 1px solid;*/
}

.Bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-end;
  text-align: center;
}

.hidden {
  -webkit-transition: 7s;
  -o-transition: 7s;
  transition: 7s;
  opacity: 0;
  visibility: hidden;
}


/*animation settings*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*---------------------------MOBILE---------------------------*/

@media all and (max-width: 800px) {

  .Center, .Blurb {
    display: none;
  }

  .App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: left;
  -webkit-box-pack: flex-start;
      -ms-flex-pack: flex-start;
          justify-content: flex-start;
  }

  .hidden {
    visibility: visible;
    opacity: 1;
  }

  .Top, .Right, .Bottom, .Left, .Hello {
    font-size: 6vw;
    margin: 0 2vh 2vh 2vh;
    text-align: left;
    flex: none;
  }  

  .Bottom {
    display: block;
  }


/*---------------------------Mobile Navbar---------------------------*/

  .mobileHeader {
    color: #fff;
    text-align: center;
    font-size: 15vw;
    line-height: 1;
    margin: 3vh 2vh 2vh 0;
    font-family: "Adieu-Regular";
  }

  .mobileNavContainer {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2vh 2vh 0;
    font-family: "Falster";
  }

  .mobileTitleLeft, .mobileTitleCenter, .mobileTitleRight {
      font-size: 10vw;
      line-height: 1.2;
      margin: 0 0 0 2.2vh;    
  }

  .mobileTitleLeft: {
    text-align: left;
  }

  .mobileTitleRight {
    text-align: right;
  }

  .mobileTitleCenter {
    text-align: center;
  } 
  
  .Orange {
    color: #FF696B;
    text-decoration: underline;
  }

  .Arrow {
    text-decoration: none;
  }

/*---------------------------Other Mobile---------------------------*/

  .circleText {
    left: 50vh;
    top: 25vh;  
    font-family: 'Falster';
    font-size: 1.5rem;
    position: absolute;
    animation: rotation 14s infinite linear;
  }
}

@media all and (min-width: 800px) {

  .Hello {
    display: none;
  }

  .aside {
    -webkit-box-flex:  1;
        -ms-flex:  1 0 0px;
            flex:  1 0 0;
  }

  .Left {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 1;
            order: 1;
    -webkit-writing-mode: tb-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: tb-rl;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .Right {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 4;
            order: 4;
    -webkit-writing-mode: tb-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: tb-rl;
  }

  .Bottom  {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 5; 
            order: 5;
}

  .Center { -webkit-box-flex: 3; -ms-flex: 3 0px; flex: 3 0px; }

  .Center { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }

  .Blurb { -webkit-box-ordinal-group: 3; -ms-flex-order: 3; order: 3; }
    
}