/*container for the main centerText & Blurb*/
.Center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* border: 1px solid; */
}

.centerText {
  font-family: "Adieu-Regular";
  font-size: 17vh;
  line-height: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* border: 1px solid; */
}

.centerText:hover {
  -webkit-filter: blur(4px) grayscale(5%);
          filter: blur(4px) grayscale(5%);
  /*cursor becomes clicky finger on hover*/
  cursor:  url('../assets/cursor-click.png'), auto;

}

.Blurb {
   -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
  font-size: 2.5vh;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-grow: 2;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: left;
  /* border: 1px solid; */
}

/*animation settings*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*mobile options*/

@media all and (max-width: 800px) {

  .App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: left;
  -webkit-box-pack: flex-start;
      -ms-flex-pack: flex-start;
          justify-content: flex-start;
}

  .centerText:hover {
    -webkit-filter: none;
            filter: none;
    /*cursor becomes clicky finger on hover*/
    cursor:  url('../assets/cursor-click.png'), auto;
}

  .Center {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .Center .centerText {
    font-size: 18vw;
    text-align: center;
    margin: 2vh;
  }

  .Blurb {
    font-size: 1.6rem;
    margin: 0 2vh 0 2vh; 
  }

  .Blurb .blurbArrow {
    font-size: 1.6rem;
  }

  .projectModule .circleText {
  left: 50vh;
  top: 25vh;  
  font-family: 'Falster';
  font-size: 1.5rem;
  position: absolute;
  animation: rotation 14s infinite linear;
}
  
}

@media all and (min-width: 800px) {

  .Center { -webkit-box-flex: 3; -ms-flex: 3 0px; flex: 3 0px; }

  .Blurb { -webkit-box-flex: 4; -ms-flex: 4 0px; flex: 4 0px; }

  .centerArrow {
      /*mobile version arrow from centerText to Blurb disappears for desktop*/
    display: none;
  }

  .Center { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }

  .Blurb { -webkit-box-ordinal-group: 3; -ms-flex-order: 3; order: 3; }
    
}