.projectsContainer {
	width: 100%;
	padding-bottom: 5vh;
	display: -webkit-box;
	display: -ms-flexbox;	
	display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: flex-end;
      -ms-flex-pack: flex-end;
  justify-content: space-between;
  z-index: 100;	
 -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
     -o-animation: fadein 1s; /* Opera < 12.1 */
        animation: fadein 1s;
  }

.Bg-white .App-link {
	color: #00f;
}

/*------------------------ projectModule ------------------------ */


.projectsContainer:hover .circleText  {
	z-index: 10;
	display: visible;
}

.projectLeft {
  text-align: left;
}

.projectRight {
  text-align: left;
}

.projectModuleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: flex-start;
      -ms-flex-pack: flex-start;
          justify-content: space-between;
  }

.projectModuleContainerReverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
  -webkit-box-pack: flex-start;
      -ms-flex-pack: flex-start;
          justify-content: space-between;
  }

.projectModuleInfo {
  margin: 0 4vh 4vh 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

.asideInfo { 
  position: relative;
  font-family: 'Falster';
  font-size: 1.5rem;
  visibility: hidden;
  /*border: blue 1px solid;*/
}

.asideTitle { 
  position: relative;
  font-family: 'Falster';
  font-size: 3rem;
  visibility: hidden;
  text-transform: uppercase;  
  /*border: blue 1px solid;*/
}

.asideTitle a {
  text-decoration: none;
}

.projectLeft img {
  width: 50vw;
  opacity: 0.75;
}

.projectRight img {
  width: 50vw;
  opacity: 0.75;
}



/*.projectLeft .upperLineTitle { 
  right: 0;
  /*border: blue 1px solid;}*/

/*.projectRight .upperLineTitle { 
  position: relative;
  text-align: left;
/*  border: blue 1px solid;}*/

 .projectModuleContainer:hover * {
	visibility: visible;
 	opacity: 1;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.projectModuleContainerReverse:hover * {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}




/*---------------------------animations---------------------------*/

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*---------------------------MOBILE---------------------------*/

@media all and (max-width: 800px) {

 	.projectLeft, .projectRight {
 		text-align: center;
 	}

	.projectLeft img {
		opacity: 1;
		width: 90vw;
		margin: 0 2vh 0 2vh ;
	}

	.projectRight img {
		opacity: 1;
		width: 90vw;
		margin: 0 2vh 0 2vh ;
	}

	.lowerLineTitle { 
		font-family: 'Falster';
		font-size: 2rem;
		text-transform: uppercase;
		visibility: visible;
		margin: 2vh 0 2vh 0;
	  /*border: blue 1px solid;*/
	}

	.projectsContainer .mobileHeader {
		color: #00f;
	}


/*---------------------------hidden elements in mobile---------------------------*/

	.backArrowFixed, .projectModuleInfo, .Top, .circleText {
		display: none;
	}

	.aboutBody {
		font-size: 6vw;
		margin: 0 2vh 0 2vh;
	}

/*where to display image in mobile?*/
	.aboutImage {
		display: none;
		position: relative;
	}
}

/*---------------------------DESKTOP---------------------------*/

@media all and (min-width: 800px) {
	.lowerLineTitle, .mobileNavContainer, .mobileHeader, .mobileTitleLeft, .mobileTitleRight, .mobileTitleCenter {
		display: none;
	}
}

/*---------------------------VERY LARGE---------------------------*/

@media all and (min-width: 1600px) {

.projectModuleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: flex-start;
      -ms-flex-pack: flex-start;
          justify-content: space-around;
}

.projectModuleContainerReverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
  -webkit-box-pack: flex-start;
      -ms-flex-pack: flex-start;
          justify-content: space-around;
}

	.projectLeft img {
	  width: 1000px;
	/*  opacity: 0.9;
	*//* filter: sepia(1);
	*/}

	.projectRight img {
	  width: 1000px;
	/*  opacity: 0.9;*/
	/* filter: sepia(1);
	*/}
}
