
.projectsContainer {
	background-color: #fff;
	color: #00f;
	display: flex;
	flex: 1 100%;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
/*    border: lightgreen 3px solid;
*/}

.projectsContainer .Top {
	background-color: #fff;
	color: #00f;
}

.projectsContainer .App-link {
	color: #00f;
}

.backgroundLogo {
  font-family: "Adieu-Regular";
  color: #00f;
  font-size: 17vh;
  line-height: 0.8;
  top: 35%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
-webkit-touch-callout: none; /* iOS Safari */
	    -webkit-user-select: none; /* Safari */
	     -khtml-user-select: none; /* Konqueror HTML */
	       -moz-user-select: none; /* Old versions of Firefox */
	        -ms-user-select: none; /* Internet Explorer/Edge */
	            user-select: none; /* Non-prefixed version, currently */
}

.Verso, .Recto {
	display: flex;
	flex: 1;
	flex-direction: column;
    /*border: red 1px solid;*/
}

.projectsContainer .backArrow {
	color: #00f;
	text-decoration: none;
	/*border: white 1px solid;*/
}

/*------------------------ projectModule ------------------------ */

.projectsContainer {
  /*draggable container for projects and news module*/
  display: flex;
  position: relative;
  z-index: 10;
/*  border: red 1px solid;
*/}

.projectsContainer:hover .circleText, .upperLineTitle {
	z-index: 10;
	display: visible;
}

.imgWrapper {
	display: inline-block;
	padding: 0vh 0 0vh 0;
}

.projectLeft {
  text-align: left;
}

.projectRight {
  text-align: right;
}

.projectLeft img {
  width: 70vw;
  opacity: 90%;
/* filter: sepia(1);
*/}

.projectRight img {
  width: 60vw;
  opacity: 90%;
/* filter: sepia(1);
*/}

.upperLineTitle { 
  position: relative;
  font-family: 'Falster';
  font-size: 3rem;
  visibility: hidden;
  /*border: blue 1px solid;*/
}
.projectLeft .upperLineTitle { 
  text-align: right;
  transform: rotate(0deg);
  /*border: blue 1px solid;*/
}

.projectRight .upperLineTitle { 
  position: relative;
  text-align: left;
  transform: rotate(0deg);
/*  border: blue 1px solid;*/
}

.imgWrapper:hover > * {
 	visibility: visible;
 	opacity: 100%;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

/*animation*/

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*---------------------------MOBILE---------------------------*/

@media all and (max-width: 800px) {

	.backgroundLogo, .upperLineTitle {
		display: none;
	}

	.projectContainer {
		background-color: #fff;
	}

 	.Projects {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
 	}

 	.projectLeft, .projectRight {
 		text-align: center;
 	}

	.projectLeft img {
		width: 90vw;
		opacity: 90%;
		margin: 0 2vh 0 2vh ;
	}

	.projectRight img {
		width: 90vw;
		opacity: 90%;
		margin: 0 2vh 0 2vh ;
	}

	.lowerLineTitle { 
		font-family: 'Falster';
		font-size: 3rem;
		visibility: visible;
		margin: 2vh 0 3vh 0;
	  /*border: blue 1px solid;*/
	}

	.projectLeft .lowerLineTitle {
		display: block;
		position: relative;
		text-align: center;
	  }

	.projectRight .lowerLineTitle { 
		display: block; 
		position: relative;
		text-align: center;
	}

/*---------------------------Mobile Navbar---------------------------*/

	.projectsContainer .mobileHeader {
		color: #00f;
  		text-align: center;
	    font-size: 15vw;
	    line-height: 1;
	    margin: 3vh 2vh 2vh 0;
	    font-family: "Adieu-Regular";
	}

	.projectsContainer .mobileNavContainer {
		color: #00f;
		display: flex;
		flex-direction: column;
		justify-content: center;
	    margin: 0 2vh 2vh 0;
	    font-family: "Falster";
	}

	.mobileTitleLeft, .mobileTitleCenter, .mobileTitleRight {
	    font-size: 10vw;
	    line-height: 1.2;
	    margin: 0 0 0 2.2vh;		
	}

	.mobileTitleLeft: {
		text-align: left;
	}

	.mobileTitleRight {
		text-align: right;
	}

	.mobileTitleCenter {
		text-align: center;
	}	
	
	.Orange {
		color: #FF696B;
		text-decoration: underline;
	}

	.Arrow {
		text-decoration: none;
	}

/*hidden elements in mobile*/
	.Top, .circleText, .backArrow {
		display: none;
	}

	.aboutBody {
		font-size: 6vw;
		margin: 0 2vh 0 2vh;
	}

/*where to display image in mobile?*/
	.aboutImage {
		display: none;
		position: relative;
	}
}

/*---------------------------DESKTOP---------------------------*/

@media all and (min-width: 800px) {
	.backgroundLogo, .mobileNavContainer, .mobileHeader, .mobileTitleLeft, .mobileTitleRight, .mobileTitleCenter {
		display: none;
	}
}
