.projectsContainer {
	width: 100%;
	padding-bottom: 5vh;
	display: -webkit-box;
	display: -ms-flexbox;	
	display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: flex-end;
      -ms-flex-pack: flex-end;
  justify-content: space-between;
  z-index: 100;
  }

.Bg-white .App-link {
	color: #00f;
}

/*------------------------ projectModule ------------------------ */


.projectsContainer:hover .circleText, .upperLineTitle {
	z-index: 10;
	display: visible;
}

.projectsSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: left;
  -webkit-box-pack: flex-start;
      -ms-flex-pack: flex-start;
          justify-content: flex-start;
}

.imgWrapper {
	display: inline-block;
	padding: 0vh 0 0vh 0;
}

.projectLeft {
  text-align: left;
}

.projectRight {
  text-align: right;
}

.projectLeft img {
  width: 70vw;
/*  opacity: 0.9;
*//* filter: sepia(1);
*/}

.projectRight img {
  width: 60vw;
/*  opacity: 0.9;*/
/* filter: sepia(1);
*/}

.upperLineTitle { 
  position: relative;
  font-family: 'Falster';
  font-size: 3rem;
  visibility: hidden;
  /*border: blue 1px solid;*/
}
.projectLeft .upperLineTitle { 
  text-align: right;
  transform: rotate(0deg);
  /*border: blue 1px solid;*/
}

.projectRight .upperLineTitle { 
  position: relative;
  text-align: left;
  transform: rotate(0deg);
/*  border: blue 1px solid;*/
}

.imgWrapper:hover > * {
 	visibility: visible;
/* 	opacity: 1;*/
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

/*animation*/

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*---------------------------MOBILE---------------------------*/

@media all and (max-width: 800px) {

	.upperLineTitle {
		display: none;
	}

	.projectContainer {
		background-color: #fff;
	}

	.projectsSection {
	  display: -webkit-flexbox;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-orient: horizontal;
	  -webkit-box-direction: normal;
	      -ms-flex-flow: column;
	          flex-flow: column;	  
		-webkit-box-pack: flex-start;
	      -ms-flex-pack: flex-start;
	          justify-content: flex-start;
	}


 	.Projects {
		display: -webkit-flexbox;
		display: -ms-flexbox;
		display: flex;		
		-ms-flex-flow: column;
			flex-flow: column;
		text-align: left;
		-webkit-box-pack: flex-start;
		  -ms-flex-pack: flex-start;
			justify-content: flex-start;
 	}

 	.projectLeft, .projectRight {
 		text-align: center;
 	}

	.projectLeft img {
		width: 90vw;
/*		opacity: 0.9;*/
		margin: 0 2vh 0 2vh ;
	}

	.projectRight img {
		width: 90vw;
/*		opacity: 0.9;*/
		margin: 0 2vh 0 2vh ;
	}

	.lowerLineTitle { 
		font-family: 'Falster';
		font-size: 3rem;
		visibility: visible;
		margin: 2vh 0 3vh 0;
	  /*border: blue 1px solid;*/
	}

	.projectLeft .lowerLineTitle {
		display: block;
		position: relative;
		text-align: center;
	  }

	.projectRight .lowerLineTitle { 
		display: block; 
		position: relative;
		text-align: center;
	}

/*---------------------------Mobile Navbar---------------------------*/

	.projectsContainer .mobileHeader {
		color: #00f;
  		text-align: center;
	    font-size: 15vw;
	    line-height: 1;
	    margin: 3vh 2vh 2vh 0;
	    font-family: "Adieu-Regular";
	}

	.projectsContainer .mobileNavContainer {
		color: #00f;
		display: -webkit-flexbox;
		display: -ms-flexbox;
		display: flex;
		flex-shrink: 0;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		  -ms-flex-flow: column;
		      flex-flow: column;
		-webkit-box-pack: flex-start;
		  -ms-flex-pack: flex-start;
		      justify-content: flex-start;
  	    margin: 0 2vh 2vh 0;
	    font-family: "Falster";
	}

	.mobileTitleLeft, .mobileTitleCenter, .mobileTitleRight {
	    font-size: 10vw;
	    line-height: 1.2;
	    margin: 0 0 0 2.2vh;		
	}

	.mobileTitleLeft: {
		text-align: left;
	}

	.mobileTitleRight {
		text-align: right;
	}

	.mobileTitleCenter {
		text-align: center;
	}	
	
	.Orange {
		color: #FF696B;
		text-decoration: underline;
	}

	.Arrow {
		text-decoration: none;
	}

/*hidden elements in mobile*/
	.Top, .circleText, .backArrow {
		display: none;
	}

	.aboutBody {
		font-size: 6vw;
		margin: 0 2vh 0 2vh;
	}

/*where to display image in mobile?*/
	.aboutImage {
		display: none;
		position: relative;
	}
}

/*---------------------------DESKTOP---------------------------*/

@media all and (min-width: 800px) {
	.lowerLineTitle, .mobileNavContainer, .mobileHeader, .mobileTitleLeft, .mobileTitleRight, .mobileTitleCenter {
		display: none;
	}
}
