@font-face {
    font-family: 'Migrant';
    src: url("../font/migrant_offshore_studio_regular.otf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  background-color: #0000ff;
  color: #fff;
  font-family: 'Migrant', 'Inter UI', sans-serif;
  cursor: url(../img/cursor.png), auto;
}

a {
  color: white;
  text-decoration: none; /* no underline */
  cursor: url(../img/cursor.png), auto;
}


/*MAIN CONTAINER*/

#container {
  display: grid;
  grid-template-columns: 75px 1fr 75px;
  grid-template-rows: 75px 1fr 75px;
  grid-gap: 0em 0em;
  height: 100vh;
  width: 100vw;
}

#container-responsive {
  display: none;
}

#centralPanel {
  grid-area: 2 / 2 / 3 / 3;
  /* border: 1px solid; */
}

h1 {
  font-size: 15rem;
  font-weight: normal;
  display: inline-block;
  text-align: center;
  position: relative;
  vertical-align: middle;
  text-transform: uppercase;
  line-height: 0.8;
  /* border: 1px solid; */
}

h1:hover {
  filter: blur(5px) grayscale(5%);
}


/*BORDERS*/

#northBorder {
  grid-area: 1 / 1 / 2 / 4;
  margin: 0 auto;
}

#eastBorder {
  grid-area: 2 / 3 / 3 / 4;
  margin: 0 auto;
}

#eastBorder span{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  transform-origin: left 70%;
  top: 75px;
}

#southBorder {
  grid-area: 3 / 1 / 4 / 4;
  margin: 0 auto;
}

#southBorder span{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}

#westBorder {
  grid-area: 2 / 1 / 3 / 2;
}

#westBorder span{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transform-origin: left 30%;
  top: 60vh;
}

.borderText {
  font-size: 2rem;
  font-style: bold;
  padding: 15px;
  overflow: hidden;
  white-space: nowrap;
  display: none;
}

.borderText span {
  display: inline-block;
  position: relative;
}

.centerText {
  font-size: 6em;
  font-style: bold;
}

#textOne, #textTwo, #textThree, #textFour, #textFive {
  text-decoration: underline;
}

/*
  RESPONSIVENESS
*/

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  #container {
    display: none;
  }

  #container-responsive {
    display: block;
  }

  h1 {
    font-size: 8rem;
  }

  #eastBorder, #northBorder, #southBorder {
    width: 70vw;
    padding: 2vh 0;
    font-size: 4rem;
  }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  /* h1 {
    font-size: 10rem;
  }
  body {
    background-color: magenta;
  } */
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  /* h1 {
    font-size: 5rem;
  }

  body {
    background-color: red;
  } */
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  #container {
    display: none;
  }

  #container-responsive {
    display: block;
  }

  h1 {
    font-size: 5rem;
  }

  #eastBorder, #northBorder, #southBorder {
    width: 70vw;
    padding: 2vh 0;
    font-size: 2rem;
  }
}
