/* FLEXBOX stuff we want to render right here for App*/
.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*.App > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;  
  margin: 0;
  padding: 0;
/*          border: 1px solid;
*/

/* projectModule  */

.projectModule {
  /*draggable container for projects and news module*/
  position: absolute;
  z-index: 10;
}

.projectModuleFilling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: -75vh;
  top: 40vh;
}

.projectModuleFilling > img {
  opacity: 90%;
  max-width: 350px;
}

.projectModuleText {
 font-family: 'Falster';
 font-size: 7vh;
 color: white;
 position: absolute;
 visibility: hidden;
/* border: 1px white solid;*/


.imgWrapper {
  display: inline-block;
  padding: 0 0 0 0;
}

img:hover + .projectModuleText {
  visibility: visible;
}

.projectModuleText:hover {
  visibility: visible;
  }
}

/* ------------------------------------  WIDGETS ------------------------------------   */


/*---vvvvvv------- test to remove later ------vvvvvvv-------*/

.homeProjectModuleText {
 font-family: 'Falster';
 font-size: 8vh;
 color: #fff;
 bottom: 25%;
 right: 40%;
 position: absolute;
 visibility: hidden;
 text-align: center;
 line-height: 0.9;
 text-shadow: 2px 2px 3px #00f;
 text-transform: uppercase;
/* border: 1px white solid;*/
}

.projectHomeOffset:hover, .projectHome:hover .homeProjectModuleText {
  visibility: visible;
}


.projectHomeOffset:hover img, .projectHome:hover img {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  }

.testModule .circleText {
  /* test to remove late */
  left: 30vw;
  top: 15vh;  
  font-family: 'Falster';
  font-size: 1rem;
  position: absolute;
  animation: rotation 14s infinite linear;
}

.projectHome {
  position: absolute;
  right: 10vh;
  top: 47vh;
}

.projectHomeOffset {
  position: absolute;
  left: 10vh;
  top: 27vh;
}

.projectHomeOffset img, .projectHome img {
  width: 30vw;
  opacity: 0.7;
  z-index: 10;
/* filter: sepia(1);
*/}

/*^^^------------------ test to remove later ---------^^^^-------*/



.Widget:hover {
  -webkit-filter: blur(1px) /*hue-rotate(-70deg) contrast(250%)*/;
          filter: blur(1px) /*hue-rotate(-70deg) contrast(250%)*/;
  cursor:  url('../assets/cursor-click.png'), auto;
}

.widgetPositionOne {
  position: absolute;
  left: 10vw;
  top: 5vh; 
  z-index: 10;

}

.widgetPositionTwo {
  position: absolute;
  right: 0vw;
  bottom: 0vh;
  z-index: 10;

}

.widgetPositionThree {
  position: absolute;  
  left: 15vw;
  bottom: 50vh;
  z-index: 0;

}

.widgetPositionFour {
  position: absolute;  
  left: 100vw;
  top: 0vh;
  z-index: 0;
  transform: rotate(90deg);
  transform-origin: top left;

}

.Unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.footerContainer {
  font-family: 'Falster';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  justify-content: space-around;
  text-align: center;
  width: 100vw;
  bottom: 5vh;
  z-index: 20;

}

.footerContainer .App-link {
  text-decoration: none;
}

.footerLeft {

}

.footerRight {

}


/* ------------------------------------  ARROWS ------------------------------------   */


.arrowW, .arrowE, .arrowN, .arrowS, .arrowSE, .arrowSW, .arrowNE, .arrowNW {
    text-decoration: none;
    display: inline;
  }

.arrowW:after { content: "\2190"; }
.arrowE:after { content: "\2192"; }
.arrowN:after { content: "\2191"; }
.arrowS:after { content: "\2193"; }
.arrowSE:after { content: "\2198"; }
.arrowSW:after { content: "\2199"; }
.arrowNE:after { content: "\2197"; }
.arrowNW:after { content: "\2196"; }

.backArrow {
  font-size: 3rem;
  text-align: left;
  margin: 0 0 -1vh 8vh;
  text-decoration: none;
  color: #fff;
}

.backArrow:after {
  content: "\2190";
}

.backArrowFixed:after {
  content: "\2190";
}

.backArrowFixed {
  font-size: 3rem;
  text-align: left;
  top: 6.4vh;
  margin: 0 0 0 8vh;
  text-decoration: none;
  color: #fff;
  position: fixed;
}

/* ------------------------------------  MOBILE ------------------------------------   */


@media all and (max-width: 800px) {

.App > * {
      -ms-flex: none;
          flex: none;
  }
}

@media all and (min-width: 800px) {

}
