@font-face {
    font-family: 'Migrant';
    src: url('./assets/migrant_offshore_studio_regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Migrant', 'Helvetica', sans-serif;
}
